services:
  - type: web
    name: mint-page
    env: node
    scaling:
      minInstances: 1
      maxInstances: 1
    buildCommand: npm install; npm run build
    startCommand: npm run start
    rootDir: web
    envVars:
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: HOLAPLEX_API_TOKEN
        sync: false
      - key: HOLAPLEX_PROJECT_ID
        sync: false
      - key: HOLAPLEX_DROP_ID
        sync: false
      - key: NEXTAUTH_URL
        sync: false
      - key: NEXTAUTH_SECRET
        generateValue: true
      - key: HOLAPLEX_WALLET_ASSET_TYPE
        value: SOL
      - key: HOLAPLEX_API_ENDPOINT
        value: https://api.holaplex.com/graphql
      - key: DATABASE_URL
        fromDatabase:
          name: mint-page
          property: connectionString

    autoDeploy: true

databases:
  - name: mint-page
    databaseName: mint-page
    ipAllowList: []